php_flag display_errors on

#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f

#RewriteRule ^tasks/([0-9] +)$ controller/task.php?taskid=$1 [L]


# Turn mod_rewrite on
RewriteEngine On
#RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^tasks/(.*)$ controller/task.php?taskid=$1 [L,QSA,NC]
RewriteRule ^tasks/complete$ controller/task.php?completed=1 [L,QSA,NC]
RewriteRule ^tasks/incomplete$ controller/task.php?completed=0 [L,QSA,NC]